*{
    background: #F3F5Fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.titulo{
    background: black;
    color: red;
    padding: .50em;
    font-size: 60px;
    display: inline-flex;
    
    }

.logo{
    padding-top: 15px;
    margin-left: 12px;
    width: 7%;
}

main{
    display: flex;
    margin-bottom: 35px;
    margin-left: 60px;
}

.text-area{
    border: none;
    color: #0a3871;
    margin-top: 80px;
    text-transform: lowercase;
}

::placeholder {color: #0a3871;}
    .text-area:focus{
        outline: none;
    }

.mensaje{
    background: white;
    background-image: url("buscando.jpg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    margin-left: 50px;
    margin-top: 20px;
    padding-left: 10px;
    position: flex;
}
.mensaje:focus {
    outline: none;
    color: #0a3871;
}
.botones{
    display: flex;
    margin-top: 15px;
}
.btn-encriptar{
    background: black;
    border: 1px solid #0c71de;
    border-radius: 15px;
    color: greenyellow;
    cursor: pointer;
    height: 50px;
    margin-left: 25px;
    width: 320px;
}
.btn-desencriptar{
    background: black;
    border: 1px solid #0c71de;
    border-radius: 15px;
    color: purple;
    cursor:pointer;
    height: 50px;
    margin-left: 25px;
    width: 320px;
}
.copiar{
    background: black;
    border: 1px solid #0c71de;
    border-radius: 15px;
    color: rgb(243, 216, 11);
    cursor:grab;
    height: 50px;
    margin-left: 25px;
    width: 320px;
}
.informacion{
    color: #0a3871;
}

/*Aqui inicia el CSS*/

@media screen and (max-width:480px){

    }
    .logo, .main, .mensaje:focus {
        align-content: center;
        padding: 1em;
        width: auto;
    }
    .btn-encriptar, .btn-desencriptar, .btn-copiar{
        width: auto;
    }
    .mensaje {
        position: relative;
        width: auto;
}